portevue

*.log
*.aux
*.eps
*eps-converted-to.pdf

*.tgz

flipflop/*.tex
flipflop/*.pdf
#(genere automatiquement par gnuplot)
#le DM
#src : fichiers de compilation
src_etudiants/simu
*.o
/src_etudiants/ASM/testtt.obj

#plus besoin de conserver les compilations : l'assembleur marche
*.obj
src_etudiants/ASM/test.s

src_etudiants/bitmap/piltest.py


*.html
#pour la lecture de .md avec emacs
