portevue

*.log
*.aux
*.eps
*eps-converted-to.pdf

*.tgz

flipflop/*.tex
flipflop/*.pdf
#(genere automatiquement par gnuplot)
#le DM
#src : fichiers de compilation
src_etudiants/simu

#plus besoin de conserver les compilations : l'assembleur marche
asm.exec/
simu.obj
#./**/test.s


*.html
#pour la lecture de .md avec emacs

#VHDL
tp1-vhdl/work/
tp1-vhdl/chronogram.fst
