portevue

*.log
*.aux
*.eps
*eps-converted-to.pdf

*.tgz

flipflop/*.tex
flipflop/*.pdf
#(genere automatiquement par gnuplot)

#src : fichiers de compilation
src_etudiants/simu
*.o
/src_etudiants/ASM/testtt.obj

*~